body {
    background: #ccc4dd;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #b88dde;
    height: 100%;
    text-align: center;
    font-size: 18px;
}


button {
    background: #c9a8e3;
    color: black;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    justify-content: center;

}

#mylives {
    font-size: 1.6em;
    text-align: center;
    display: block;

}

#alphabet li {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 56px;
    height: 30px;
    padding-top: 10px;
    background: #d099e9;
    color: black;
    cursor: pointer;
    border: solid 1px white;
    border-radius: 14px;
    text-transform: uppercase;

}

#alphabet li:hover {
    background: #916ccf;
    border: solid 1px black;
    color: black;

}

#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display: block;

}

#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;

}